@model BPCS.Models.ContactModel


@{
    ViewBag.Title = "Bexhill and Hastings Prostate Cancer Support - Meetings";
}


<img src="~/Images/image-1500x400_higher.jpg" alt="Group at a meeting" width="100%"/>

<article id="main-home-article">
    <section id="main-home-section">
        <h1>Meeting Dates</h1>
        @*<br />
        <p>
            Meetings are held at the Health Center, Bexhill Hospital,
            Hollier Hill, TN40 2DZ
        </p>*@
        <br />
        <p>
            We will be having a social at a gastro pub on the 7th Jan 2019 at 7pm. 
            There is a tapas menu at £12 per head, drinks are not included.
            For more infomration and to reserve a place, please call John on 01424 532866.
            We will be meeting every other month though out the year. More information to follow.
        </p>
        <br /><br />

    </section>
</article>




