@model BPCS.Models.ContactModel


@{
    ViewBag.Title = "Bexhill and Hastings Prostate Cancer Support - Meetings";
}


<img src="~/Images/image-1500x400_higher.jpg" alt="Group at a meeting" width="100%"/>

<article id="main-home-article">
    <section id="main-home-section">
        <h1>Meeting Dates</h1>
        <br />
        <p>
            Meetings are held at the Health Center, Bexhill Hospital,
            Hollier Hill, TN40 2DZ
        </p>
        <br />
        <h2>Monday September 3rd 7pm</h2>
        <p>
            Our speaker will be Dr. Colin Tourle MBE.  He will speak briefly of his own experience of Prostate cancer and of his work with Syrian refugees in Lebenon.
            There are no entrance charges and tea and coffee available
        </p>
        <br /><br />

    </section>
</article>




