@model BPCS.Models.ContactModel


@{
    ViewBag.Title = "Bexhill and Hastings Prostate Cancer Support - Meetings";
}


<img src="~/Images/image-1500x400_higher.jpg" alt="Group at a meeting" width="100%"/>

<article id="main-home-article">
    <section id="main-home-section">
        <h1>Meeting Dates</h1>
        <br />
        <p>
            Meetings are held at the Health Center, Bexhill Hospital,
            Hollier Hill, TN40 2DZ
        </p>
        <br />
        <h2>February 6th</h2>
        <p>
            Guest Speaker: Aspasia Soultati
            Consultant Medical Oncologist
        </p>
        <br /><br />
        <h2>March 6th</h2>
        <p>
            Guest Speaker: Urology Nurse TBC
        </p>
        <br /><br />
        <h2>April 3rd</h2>
        <p>
            Guest Speaker: Roger Plail
            Urology Surgon
        </p>
        <br /><br />
        <h2>May 8th</h2>
        <p>
            Guest Speaker: Macmillan Cancer Support
        </p>
        <br /><br />
        <h2>June 5th</h2>
        <p>
            Social
        </p>
    </section>
</article>




