@model BPCS.Models.ContactModel


@{
    ViewBag.Title = "Bexhill Prostate Cancer Support";
}


<img src="~/Images/image-1500x400_higher.jpg" alt="Group at a meeting" width="100%"/>

<article id="main-home-article">
    <section id="main-home-section">
        <h1>Meeting Dates</h1>
        <h2>5th September 2016</h2>
        <p>
            Guest Speaker: Mr R Plail - Consultant
            Urologist at the Conquest Hospital Hastings
        </p>
        <br /><br />
        <h2>3rd October 2016</h2>
        <p>
            Guest Speaker: TBC
        </p>
        <br /><br />
        <h2>7th November 2016</h2>
        <p>
            Guest Speaker: TBC
        </p>
        <br /><br />
        <h2>5th December 2016</h2>
        <p>
            Social
        </p>
    </section>
</article>




