@model BPCS.Models.ContactModel
@{
    ViewBag.Title = "Contact Bexhill Prostate Cancer Support - Thank you for your message";
}

<img src="~/Images/contact_us_1400x250.jpg" width="100%" alt="Contact Us" />

<article>
    <h1>Thank you</h1>

    <p>
        Your message has been sent, you should hear back from us soon.
    </p>
</article>


