@model BPCS.Models.ContactModel
@{
    ViewBag.Title = "Contact Bexhill Prostate Cancer Support";
}

<div>
    Image here
</div>

<h1>Thank you</h1>

<p>
    Your message has been sent, you should hear back from us soon.
</p>
