body {
}

header {
    background-color:#737171;
    height:50px;
    color: #fff;
}

h1 {
    color: #4994ef;
    font-weight: bold;
    font-size: 4em;
    padding-top: 0.5em;
    margin:auto;
}

h2 {
    font-weight: bold;
    font-size: 2em;
}

.btn-default {
    background-color: #4994ef;
    color: #fff;
}

article {
    width: 100%;
    background-color: #f9f9f9;
    margin-top: -20px;
    text-align: center;
}

.large-banner-image {
    background: url(http://placehold.it/1500x500) no-repeat; 
    background-size: 100%;
}

.contact-banner-image {
    background: url(http://placehold.it/1500x250) no-repeat; 
    background-size: 100%;
}

.links-banner-image {
    background: url(http://placehold.it/1500x250) no-repeat; 
    background-size: 100%;
}

@media (min-width: 600px) {
    .large-banner-image {
        min-height: 400px;
        background: url('/Images/image-1500x400_higher.jpg') no-repeat center center fixed; 
        background-size: cover;
    }

    .contact-banner-image {
        height: 250px;
        background: url(http://placehold.it/1500x250) no-repeat center center fixed; 
        background-size: cover;
    }

    .links-banner-image {
        height: 250px;
        background: url(http://placehold.it/1500x250) no-repeat center center fixed; 
        background-size: cover;
    }
}


@media (min-width: 800px) {
    .large-banner-image {
        min-height: 600px;
        background: url('/Images/image-1500x400_higher.jpg') no-repeat center center fixed; 
        background-size: cover;
    }

    .contact-banner-image {
        height: 250px;
        background: url(http://placehold.it/1500x250) no-repeat center center fixed; 
        background-size: cover;
    }

    .links-banner-image {
        height: 250px;
        background: url(http://placehold.it/1500x250) no-repeat center center fixed; 
        background-size: cover;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/


/*Home Page Styling*/

#main-navigation {
    font-size:20pt;
    height:50px;
    background-color:black;
}

#main-navigation ul {
    list-style:none;
    margin:0px;
    float:right;
}

#main-navigation ul li a {
    text-decoration:none;
    color:#ffffff;
        height: 70px;
}

#main-navigation ul li {
    display:inline-block;
    float: Left;
    padding: 5px 10px;
    color:#ffffff;
}

#main-navigation ul li:hover {
    background-color:#383535;
    height:50px;
    padding: 5px 10px;    
}

#main-navigation ul li:visited {
    background-color:#383535;
    /*height:50px;*/
    padding: 5px 10px;
    color:#ffffff;    
}

#main-navigation ul li a:active {
    color:blue;    
}

#main-home-article {
}

article #main-home-section {
    width:75%;
    margin: auto;
}

/*Links Page Styling*/

ul {
    list-style: none;
    padding: 0;
}


/*Contacts Page Styling*/

.infoForm {
        display: inline-block;
        width: 45%;
    }

    .inputLabel {
        display: inline;
        font-weight: bold;
        line-height: 1;
        color: #000000;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        margin: 10px 2px;
    }

    .inputTextbox {
        width: 537px;
        display: inline-flex;
        margin-top: 15px;
    }

textarea {
    margin-left: 4px;
}

    .btn {
        display: block;
    }