body {

}

header {
    background-color:#737171;
    color: #fff;
}

h1 {
    color: #4994ef;
    font-weight: bold;
    font-size: 4em;
    padding-top: 0.5em;
}

h2 {
    font-weight: bold;
    font-size: 2em;
}

.btn-default {
    background-color: #4994ef;
    color: #fff;
}

article {
    width: 100%;
    background-color: #f9f9f9;
    margin-top: -20px;
    text-align: center;
}

.large-banner-image {
    background: url(http://placehold.it/1500x500) no-repeat; 
    background-size: 100%;
}

.contact-banner-image {
    background: url(http://placehold.it/1500x250) no-repeat; 
    background-size: 100%;
}

.links-banner-image {
    background: url(http://placehold.it/1500x250) no-repeat; 
    background-size: 100%;
}

@media (min-width: 600px) {
    .large-banner-image {
        height: 500px;
        background: url(http://placehold.it/1500x500) no-repeat center center fixed; 
        background-size: cover;
        margin-top: -10px;
    }

    .contact-banner-image {
        height: 250px;
        background: url(http://placehold.it/1500x250) no-repeat center center fixed; 
        background-size: cover;
        margin-top: -10px;
    }

    .links-banner-image {
        height: 250px;
        background: url(http://placehold.it/1500x250) no-repeat center center fixed; 
        background-size: cover;
        margin-top: -10px;
    }
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
