
@{
    ViewBag.Title = "Contact and Hastings Bexhill Prostate Cancer Support - Links";
}

<img src="~/Images/www_1400x250.jpg" width="100%" alt="Web Image" />

<article>
    <div class="links">
        <h1>Links</h1>
        <div class="links">
            <ul>
                <li>
                    <a href="http://www.cowbeech.force9.co.uk/PCaSOEastbourne/forth.htm">
                    Eastbourne Prostate Cancer Support Group
        </a>
        </li>
        <li>
            <a href="http://pcaso.org/">
                Prostate Cancer Support Network
            </a>
        </li>
        <li>
            <a href="http://prostatecanceruk.org/">
                Prostate Cancer UK
            </a>
        </li>
        <li>
            <a href="http://www.nice.org.uk/guidance/cg175">
                NICE Clinical Guidance
            </a>
        </li>
        </ul>
    </div>
        </div>


</article>
