@{
    ViewBag.Title = "Bexhill Prostate Cancer Support";
}

<div>
    Image here
</div>

<h1>Bexhill Prostate Cancer Support</h1>

<h2>Providing support and advice for those affected with prostate cancer in Bexhill and surrounding areas. </h2>

<p>Bexhill Prostate Cancer Support was setup in March 2015 to provide support and advice for those living with 
    prostate cancer in Bexhill and surrounding areas.  The group meets on the Xth Wednesday of each month
    at LOCATION from START TIME to END TIME.  Meetings are held at ADDRESS, GOOGLE LINK.  Meetings provide a chance
    for people to chat and share experiences as well as to hear from experts.</p>