@model BPCS.Models.ContactModel


@{
    ViewBag.Title = "Bexhill Prostate Cancer Support";
}


<img src="~/Images/image-1500x400_higher.jpg" alt="Group at a meeting" width="100%"/>

<article id="main-home-article">
    <section id="main-home-section">
        <h1>Bexhill and Hastings Prostate Cancer Support</h1>
        <h2>Providing support and advice for those affected with prostate cancer in Bexhill and surrounding areas.</h2>
        <p>
            Bexhill and Hastings Prostate Cancer Support was setup in 2016 to provide support and advice for those living with
            prostate cancer in Bexhill, Hastings and surrounding areas.  Meetings are on the first Monday of the month,
            from 7-9pm at Bexhill Hospital, in the Health Centre building.  Meetings provide a chance for people to chat and share experiences as well as to hear from experts.
        </p>
        <br /><br />
        <p>
            For future meeting dates see @Html.ActionLink("meeting dates.", "Index", "Meetings")
        </p>
    </section>
</article>




